
<div  id = "center">
<tbody>
 <!-- Function to check if the event date has passed and if the event it is in the current year -->
<div class="table-responsive">
 <table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer1</th>
      <th>Answer2</th>
      <th>Answer3</th>
      <th>Answer4</th>
      <th>Answer5</th>
      <th>Answer6</th>
      <th>Poll</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.question %></td>
        <td><%= question.answer1 %></td>
        <td><%= question.answer2 %></td>
        <td><%= question.answer3 %></td>
        <td><%= question.answer4 %></td>
        <td><%= question.answer5 %></td>
        <td><%= question.answer6 %></td>
        <td><%= question.poll.name %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </tbody>
    </div>
    <% end %>
</div>